%h1 Listing consumers

%table
  %tr
    %th
    %th
    %th

  - @consumers.each do |consumer|
    %tr
      %td= link_to 'Show', consumer
      %td= link_to 'Edit', edit_consumer_path(consumer)
      %td= link_to 'Destroy', consumer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Consumer', new_consumer_path
