!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi #{@user.full_name}!
    %p
      We have reset your user password, your new password is #{@new_pw}. Please login and edit profile to change your password accordingly.
