= render 'dashboard_nav'
.col-xs-12.no-h-padding.bg-img-account
  .opacity-cover
.custom.container
  .account-cont
    .logo-container.col-xs-12.no-h-padding.slide-1
      = image_tag("/img/logo-small.png")
    .welcome-msg.col-xs-10.col-xs-offset-1.slide-1
      - if params[:new_user]
        .title
          Welcome To Nathan's Exchange, 
          = current_user.first_name + " " +current_user.last_name
        .intro
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in auctor arcu. Nullam at interdum lacus. Duis congue erat magna, at aliquet arcu iaculis ut. 
        .tell-us-more
          First, Tell Us More About Your business:
      - else
        .tell-us-more
          Edit Your Information:
    - if current_user.account_type == "Vendor"
      .vendor-form
        = render "vendors/form"