.modal.fade{:id => "feedback", "aria-hidden" => "true", "aria-labelledby" => "feedback", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
      .modal-body.support-body.text-center
        .col-xs-12.text-center
          JOIN NEX
        .col-xs-12.motto
          Chocolate cake halva cookie oat cake jelly beans