<!--
#feedback-modal.modal.fade
  .modal-dialog
    .modal-content.feedback-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Give us some feedback?
      .modal-body
        = form_for Feedback.new do |f|
          %label.col-xs-12 
            Email
            %span (Optional)
          = f.text_field :email, class: "col-xs-12"
          %label.col-xs-12 
            Your feedback
          = f.text_area :content, class: "col-xs-12"
          = f.submit "Submit Feedback", class: "col-xs-12 btn btn-default submit"

s
-->