.custom.container
  .vendor-show
    .vendor-cover
      .vendor-cover-uperlayer
        .vendor-g-info
      - if @vendor.assets.empty?
        = image_tag ("//placehold.it/180X191")
      - else  
        - @image = @vendor.assets.last.image
        = image_tag @image.url