%h1 Listing assets

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @assets.each do |asset|
      %tr
        %td= link_to 'Show', asset
        %td= link_to 'Edit', edit_asset_path(asset)
        %td= link_to 'Destroy', asset, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Asset', new_asset_path
