// Place all the styles related to the email_notification_settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slide-5{
  .half-way-through {
    padding-top: 60px;
    color: #639589;
    padding-bottom: 15px;
  }
}
.row.setting{
  margin-top: 15px;
  width: 100%;
  height: 50px;
  padding: 0px;
  line-height: 50px;
  float: left;
  margin-left: 0px;
  *{
    float: left;
  }
  select{
    height: 50px;
    background-color: white;
    border: 1px solid #ffc285;
    float: left;
    background-color: white;
    display: block;
  }
}