// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark-text-color: #767676;
$orange: #EA9B2C;
$blue: #63BFDE;
.padding-left-30{
	padding-left: 30px;
}
.custom.container{
	width:1000px;
	min-height: 10px;
	.user-bids{
		width: 100%;
		.bid{
			width: 100%;
			background: white;
			height: 120px;
			border: 1px solid #E9E9E9;
			border-top: 0;
			.bid-row{
				height: 100%;
				.bid-img-container{
					height: 100%;
					width: 60px;
					padding: 0px;
					float: left;
					.bid-img{
						position: relative;
						top: 50%;
						margin-top: -30px;
					}
				}
				.bid-info{
					height: 100%;
					float: right;
					width: calc(100% - 60px); 
					padding-left: 20px;
					.title{
						color: $orange

					}
				}
				.in-green{
					color: #5AB075;
					font-weight: bold;
					font-size: 15px;
					margin-top: 43px;
				}
				.in-grey{
					color: #9DA2A3;
					font-weight: bold;
					font-size: 15px;
					margin-top: 43px;
				}
				.grey-date{
					color:#BBBFC3;
					font-size: 13px;

				}
				span{
					white-space: nowrap;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
	.column-names{
		margin-top: 20px;
		width: 100%;
		height: 50px;
		background: #FCFCFC;
		border: 1px solid #E9E9E9;
		.names-row{
			height: 100%;
			font-size: 14px;
			line-height: 50px;
		}
	}
	.page-info{
		width: 1000px;
		height: 30px;
		.bid-page-status{
			width: 400px;
			position: relative;
			float: left;
			height: 30px;
			font-size: 14px;
			line-height: 30px;

		}
		
		.filter-page{
			width: 200px;
			position: relative;
			float: right;
			line-height: 30px;
			height: 30px;
			.filters{
				width: 155px;
				position: relative;
				float: right;
				.current-filter{
					height: 30px;
					background: white;
					font-size: 14px;
					border: 1px solid #EAE6E1;
					line-height: 30px;
					width: 155px;
					text-align: center;
				}

				ul{
					display: none;
					opacity: 0;
					visibility: hidden;
					-webkit-transiton: opacity 0.2s;
					-moz-transition: opacity 0.2s;
					-ms-transition: opacity 0.2s;
					-o-transition: opacity 0.2s;
					-transition: opacity 0.2s;
					li{
						display: block;
						color: black;
						background:white;
						border: 1px solid #EAE6E1;
						border-top: 0px;
						height: 30px;
						font-size: 14px;
						text-align: center;
						line-height: 30px;

					}
				}
			}
			.filters:hover{
				ul{
					display: block;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.overview-side-bar{
		width: 200px;
		position: relative;
		float: left;
		form{
			.file-upload-hidden{
				display: none;
			}
		}
		#vendor-picture{
			background:#F0F0F0;
			width: 200px;
			height: 200px;
			border-radius:2px;
			background: black;
			border: 1px solid #E2E2E2;
			text-align: center;
			display:table;
			position: relative;
			img{
				display:inline-block;
				max-height: 100%;
				max-width: 99%;
				vertical-align: middle;
			}
		}
		#vendor-picture:before {    /* create a full-height inline block pseudo=element */
    	height: 100%;
    	content: ' ';
    	display: inline-block;
    	vertical-align: middle;  /* vertical alignment of the inline element */
    }
		#vendor-picture:hover{
			cursor: pointer;
		}
		#side-bar-name{
			margin-top: 20px;
			text-align: left;
			font-size: 20px;
			color:black;
			font-style: bold;
		}
		#side-bar-membersince{
			margin-bottom: 20px;
		}
		.edit-profile-sidebar{
			width: 200px;
			height: 40px;
			display: block;
			text-align: center;
			line-height: 40px;
			background: $orange;
			color: white;
		}
		#posts-you-might-like{
			width: 200px;
			background: white;
			border: 1px solid #EAE6E1;
			margin-top: 30px;
			.title{
				width: 100%;
				text-align: center;
				font-size: 16px;
				color: black;
				padding-top: 10px;
				font-style: bold;
				padding-bottom: 10px;

			}
			ul{
				list-style-type: disc;
				color: $orange;
				width: 140px;
				margin-left: 30px;
				a{
					.post-suggestion{
						padding-bottom: 20px;
						.suggestion-name{
							width: 100%;
							color: $orange;
						}
						.suggestion-title{
							color:$blue;
						}
					}
				}
			}
		}
	}
	#main-overview{
		position: relative;
		float: right;
		width: 800px;
		.border-gray{
			background: white;
			width: 760px;
			margin-left:20px;
			padding:20px; 
			margin-bottom: 10px;
			.title{
				width: 100%;
				text-align: left;
				font-size: 16px;
				color: black;
				font-style: bold;
				padding-bottom: 10px;

			}
		}

	}
}
.border-gray{
	border: 1px solid #EAE6E1;
}
#dash-nav{
	z-index: 1;
	background:#9B9B9B;
	min-height:40px;
	height:40px;
	.container{
		height: 100%;
		.nav-links{
			height: 100%;
			ul{
				height: 100%;
				.active{
					a{
						background:#747474;
						color:white;
					}
				}
				li{
					height: 80%;
					position: relative;
					top:10%;
					width: 10%;
					border-radius: 4px;
					a{
						height: 100%;
						line-height: 32px;
						text-align: center;
						border-radius:4px;
						color: white;
					}
					
				}
			}
		}
	}
}